{% extends 'base.html' %}

{% block title %}Detalhes do Produto - Pet Store{% endblock %}
{% block body_class %}produto-pet{% endblock %}

{% block content %}
 
    <div class="header-container">
        <h2>{{ produto.nome }}</h2>
        <div class="product-description">
            <p><strong>Descrição:</strong> {{ produto.descricao }}</p>
            <p><strong>Preço:</strong> R$ {{ produto.preco }}</p>
            <a href="{% url 'list_product' %}" class="btn btn-secondary">Voltar à lista</a>
        </div>
    </div>
    
    <div class="product-image-container">
        <div class="row">
            <div class="col-md-8">
                <img src="{{ produto.imagem }}" alt="{{ produto.nome }}" class="img-fluid">
            </div>
        </div>
    </div>
{% endblock %}